<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Display</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/index.js"></script>
  </head>
  <body>
    <h1>Displaying contact information for : <%=name%></h1>

    <h2>Name : <span><%=name%></span></h2>
    <h2>Phone : <span><%=phone%></span></h2>
    <h2>Email : <span><%=email%></span></h2>
    <h2>portfolio : <span><%=portfolio%></span></h2>

    <form>
      <div>
        <label for="searchAnother"> Search Another Contact</label>
        <input type="text" id="searchAnother" placeholder="Id" />
      </div>
      <button type="submit" class="search-contact">Search</button>
    </form>
  </body>
</html>
